{% extends 'myauth/base.html' %}

{% block title %}
  User #{{ profile.pk }} details
{% endblock %}

{% block body %}
  <h1>User info</h1>
  <p>Username: {{ profile.user.username }}</p>
  <p>Bio: {{ profile.bio }}</p>

  {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar">
  {% endif %}

  {% if profile.user.is_staff or profile.user.user_id == profile.user.user_id %}
    <div>
      <a href="{% url 'myauth:profile_update' pk=profile.pk %}">Update profile</a>
    </div>
  {% endif %}

  <div>
    <a href="{% url 'myauth:profiles_list' %}"
    >Back to profiles list</a>
  </div>

{% endblock %}
